pipeline/ingest_salesLT_Salesorder_Detail.json
{
	"name": "ingest_salesLT_Salesorder_Detail",
	"properties": {
		"activities": [
			{
				"name": "lk_water_mark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(mostRecentDateTime) as  mostRecentDateTime from controller.water_mark\n where tableName ='SalesLT.SalesOrderDetail'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_curso_udemy",
						"type": "DatasetReference",
						"parameters": {
							"schema": "controller",
							"TbName": "water_mark"
						}
					}
				}
			},
			{
				"name": "if_water_mark_isnull",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lk_water_mark",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('lk_water_mark').output.firstRow.mostRecentDateTime)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "set_water_mark",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "water_mark",
								"value": {
									"value": "@activity('lk_water_mark').output.firstRow.mostRecentDateTime",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "water_mark",
								"value": {
									"value": "'1900-01-01'",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ingestData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "if_water_mark_isnull",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM [SalesLT].[SalesOrderDetail]\nwhere ModifiedDate>@{variables('water_mark')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SalesOrderID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SalesOrderID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SalesOrderDetailID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SalesOrderDetailID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "OrderQty",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "OrderQty",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ProductID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "UnitPriceDiscount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "UnitPriceDiscount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 38
								},
								"sink": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqldb_curso_udemy",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"TbName": "SalesOrderDetail"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"path": {
								"value": "SalesLT/[SalesOrderDetail/@{utcnow('yyyyMMdd')}",
								"type": "Expression"
							},
							"filename": {
								"value": "file-@{variables('water_mark')}.parquet",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "if_has_rows_read",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ingestData",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ingestData').output.rowsRead,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "lk_mostRecentDateTime",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select max(ModifiedDate) as mostRecentDateTime  \nfrom SalesLT.SalesOrderDetail",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sqldb_curso_udemy",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesLT",
										"TbName": "SalesOrderDetail"
									}
								}
							}
						},
						{
							"name": "proc_update_water_mark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "lk_mostRecentDateTime",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[controller].[update_water_mark]",
								"storedProcedureParameters": {
									"mostRecentDateTime": {
										"value": {
											"value": "@activity('lk_mostRecentDateTime').output.firstRow.mostRecentDateTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tableName": {
										"value": "\nSalesLT.SalesOrderDetail",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_udemy_curso",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"water_mark": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-02T18:11:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}